<a href="https://colab.research.google.com/github/lucasfreire01/Cancer_pele/blob/main/Cancerpele.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
#Starting import libraries
import warnings
warnings.filterwarnings('ignore')

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [39]:
#Loading the train dataset 
train = pd.read_csv('/content/drive/MyDrive/Cancer_pele/train_metadata_pPa7YD3.csv')
train

,filename,age,sex,body_site,melanoma_history,breslow,ulceration,resolution,tif_cksum,tif_size,us_tif_url,eu_tif_url,as_tif_url
0,1u4lhlqb.tif,[32:34[,2,thigh,YES,<0.8,NO,0.264384,3028450373,747151312,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
1,rqumqnfp.tif,[46:48[,1,trunc,NO,[1 : 2[,NO,0.264384,1294832049,591027450,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
2,bu5xt1xm.tif,[64:66[,2,face,NO,<0.8,NO,0.264384,774102360,465947458,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
3,dibvu7wk.tif,[62:64[,2,forearm,NaN,[2 : 4[,YES,0.226490,515827065,568174704,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
4,qsza4coh.tif,[90:92[,2,face,NO,[1 : 2[,NO,0.226490,1541795099,1042691978,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,n7jd638y.tif,[68:70[,1,head/neck,NaN,[1 : 2[,NO,0.250000,1949851255,136729436,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
1338,8wg601oe.tif,[66:68[,1,head/neck,NaN,<0.8,NaN,0.250000,1344207528,1603484314,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
1339,1ejfd01b.tif,[80:82[,1,trunk,NaN,>=4,YES,0.250000,4292211076,1423564688,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
1340,2ztrjp20.tif,[42:44[,2,trunk,NaN,<0.8,NaN,0.250000,2949914817,336489430,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...
1341,hpzk3x2s.tif,[56:58[,1,upper limb/shoulder,NaN,<0.8,NO,0.250000,378439451,364897020,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...

In [40]:
#Loadinig the train_labels to take the relapse column to use as target
train_labels = pd.read_csv('/content/drive/MyDrive/Cancer_pele/train_labels.csv')
train_labels

          filename  relapse
0     1u4lhlqb.tif        0
1     rqumqnfp.tif        0
2     bu5xt1xm.tif        0
3     dibvu7wk.tif        0
4     qsza4coh.tif        0
...            ...      ...
1337  n7jd638y.tif        0
1338  8wg601oe.tif        0
1339  1ejfd01b.tif        0
1340  2ztrjp20.tif        0
1341  hpzk3x2s.tif        0

[1342 rows x 2 columns]

In [41]:
#See the distribuation of values so if relapse is 0 there is relapse if the values is 1 no had relapse
train_labels.relapse.value_counts()

0    1129
1     213
Name: relapse, dtype: int64

In [42]:
#See the distruation at melanoma_historiry 
train['melanoma_history'].value_counts()

NO     585
YES     57
Name: melanoma_history, dtype: int64

In [43]:
#take the missing values and put this place the value YES for have a distribuation more balance
train['melanoma_history'].fillna('YES', inplace=True)

In [44]:
#This is the result of distribuation
train['melanoma_history'].value_counts()

YES    757
NO     585
Name: melanoma_history, dtype: int64

In [45]:
#Take the first age in each line and transfom in int
train['age_int'] = train['age'].str.extract(r'(\d+)').astype(int)

In [46]:
train

,filename,age,sex,body_site,melanoma_history,breslow,ulceration,resolution,tif_cksum,tif_size,us_tif_url,eu_tif_url,as_tif_url,age_int
0,1u4lhlqb.tif,[32:34[,2,thigh,YES,<0.8,NO,0.264384,3028450373,747151312,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,32
1,rqumqnfp.tif,[46:48[,1,trunc,NO,[1 : 2[,NO,0.264384,1294832049,591027450,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,46
2,bu5xt1xm.tif,[64:66[,2,face,NO,<0.8,NO,0.264384,774102360,465947458,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,64
3,dibvu7wk.tif,[62:64[,2,forearm,YES,[2 : 4[,YES,0.226490,515827065,568174704,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,62
4,qsza4coh.tif,[90:92[,2,face,NO,[1 : 2[,NO,0.226490,1541795099,1042691978,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,n7jd638y.tif,[68:70[,1,head/neck,YES,[1 : 2[,NO,0.250000,1949851255,136729436,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,68
1338,8wg601oe.tif,[66:68[,1,head/neck,YES,<0.8,NaN,0.250000,1344207528,1603484314,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,66
1339,1ejfd01b.tif,[80:82[,1,trunk,YES,>=4,YES,0.250000,4292211076,1423564688,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,80
1340,2ztrjp20.tif,[42:44[,2,trunk,YES,<0.8,NaN,0.250000,2949914817,336489430,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,42
1341,hpzk3x2s.tif,[56:58[,1,upper limb/shoulder,YES,<0.8,NO,0.250000,378439451,364897020,s3://drivendata-competition-visiomel-public-us...,s3://drivendata-competition-visiomel-public-eu...,s3://drivendata-competition-visiomel-public-as...,56

In [47]:
#Using the One_hot_encoder to transform the melanoma_history column in two binary column
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()
one_hot = pd.get_dummies(train['melanoma_history'])
one_hot

      NO  YES
0      0    1
1      1    0
2      1    0
3      0    1
4      1    0
...   ..  ...
1337   0    1
1338   0    1
1339   0    1
1340   0    1
1341   0    1

[1342 rows x 2 columns]

In [48]:
#take the most important column this column is the same the test column
train_new = train[['filename', 'age', 'sex', 'body_site', 'melanoma_history',
       'resolution']]

In [49]:
train_new

,filename,age,sex,body_site,melanoma_history,resolution
0,1u4lhlqb.tif,[32:34[,2,thigh,YES,0.264384
1,rqumqnfp.tif,[46:48[,1,trunc,NO,0.264384
2,bu5xt1xm.tif,[64:66[,2,face,NO,0.264384
3,dibvu7wk.tif,[62:64[,2,forearm,YES,0.226490
4,qsza4coh.tif,[90:92[,2,face,NO,0.226490
...,...,...,...,...,...,...
1337,n7jd638y.tif,[68:70[,1,head/neck,YES,0.250000
1338,8wg601oe.tif,[66:68[,1,head/neck,YES,0.250000
1339,1ejfd01b.tif,[80:82[,1,trunk,YES,0.250000
1340,2ztrjp20.tif,[42:44[,2,trunk,YES,0.250000
1341,hpzk3x2s.tif,[56:58[,1,upper limb/shoulder,YES,0.250000

In [50]:
train_new.drop('filename', axis=1, inplace=True)

In [51]:
#out the age with the first value as int and the melanoma with one_hot_encoder 
train_new['age'] = train['age_int']
train_new.drop('melanoma_history', axis=1, inplace=True)
train_new['melanoma_NO'] = one_hot['NO']
train_new['melanoma_YES'] = one_hot['YES']
train_new

      age  sex            body_site  resolution  melanoma_NO  melanoma_YES
0      32    2                thigh    0.264384            0             1
1      46    1                trunc    0.264384            1             0
2      64    2                 face    0.264384            1             0
3      62    2              forearm    0.226490            0             1
4      90    2                 face    0.226490            1             0
...   ...  ...                  ...         ...          ...           ...
1337   68    1            head/neck    0.250000            0             1
1338   66    1            head/neck    0.250000            0             1
1339   80    1                trunk    0.250000            0             1
1340   42    2                trunk    0.250000            0             1
1341   56    1  upper limb/shoulder    0.250000            0             1

[1342 rows x 6 columns]

In [52]:
train_new.isnull().sum()

age              0
sex              0
body_site       18
resolution       0
melanoma_NO      0
melanoma_YES     0
dtype: int64

In [53]:
#treating missing value at body_site column that is categorical column
mode = train_new['body_site'].mode().values[0]
train_new['body_site'].fillna(mode, inplace=True)

In [54]:
#See the missing values
train_new.isnull().sum()

age             0
sex             0
body_site       0
resolution      0
melanoma_NO     0
melanoma_YES    0
dtype: int64

In [55]:
#let the column with tow decimal places
train_new['resolution'] = train_new['resolution'].round(2)

In [56]:
train_new

      age  sex            body_site  resolution  melanoma_NO  melanoma_YES
0      32    2                thigh        0.26            0             1
1      46    1                trunc        0.26            1             0
2      64    2                 face        0.26            1             0
3      62    2              forearm        0.23            0             1
4      90    2                 face        0.23            1             0
...   ...  ...                  ...         ...          ...           ...
1337   68    1            head/neck        0.25            0             1
1338   66    1            head/neck        0.25            0             1
1339   80    1                trunk        0.25            0             1
1340   42    2                trunk        0.25            0             1
1341   56    1  upper limb/shoulder        0.25            0             1

[1342 rows x 6 columns]

In [57]:
bd = train_new['body_site']
train_new['body_site'].value_counts()

trunc                  324
leg                    163
arm                    149
face                   134
trunk                  132
lower limb/hip         114
head/neck               71
upper limb/shoulder     70
thigh                   58
forearm                 26
foot                    23
hand/foot/nail          21
sole                    13
neck                    12
toe                      7
hand                     7
finger                   6
seat                     6
scalp                    4
nail                     2
Name: body_site, dtype: int64

In [58]:
#Take the target column and put in the test variable
test_new = train_labels['relapse']

In [59]:
#Using the One_hot_encoder in other categorical column
encoded_bd = pd.DataFrame(one.fit_transform(train_new[['body_site']]).toarray())
categories = train_new['body_site'].unique()
encoded_bd.columns = categories

In [60]:
train_new = pd.concat([train_new, encoded_bd], axis=1)

In [61]:
train_new = train_new.drop('body_site', axis=1)

In [62]:
#Normalization the dataset
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train_new = pd.DataFrame(scaler.fit_transform(train_new), columns=train_new.columns)

In [63]:
test_new = test_new.astype('float32')
test_new1 = tf.convert_to_tensor(test_new)
train_new1 = tf.convert_to_tensor(train_new)

In [85]:
#Spliting the two dataset train and test in x_train,x_test, y_train, y_train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_new,test_new, test_size=0.2, random_state=42, shuffle=True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [86]:
#Build the model very simple with the keras.Sequential and the dense for switch between leyers, just with a entry leyers, one hiddren leyer and 
#one output leyer. The hiddren leyer have 64 neurons and just one neurons output the activation at hiddren leyer is the popular relu the target have 
# values between 0 and 1 so the sigmiod was used to be the activation at out oyt leyer and then will have a treate to transform in 0 and 1
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(64, input_dim=25, activation='relu'))
model.add(Dense(1, activation='sigmoid'))


#Compiling the model with loss= 'binary_crossentropy, optimizer='adam', metrics=['accuracy']
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

#training the model and validation it
model.fit(X_train, y_train, epochs=150, batch_size=33, validation_data=(X_test, y_test))

#take the precision of model and next treating the predict to have these values in 0 and 1
loss, accuracy = model.evaluate(X_test, y_test)
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

Epoch 1/150
26/26 [==============================] - 1s 10ms/step - loss: 0.5936 - accuracy: 0.7914 - val_loss: 0.5169 - val_accuracy: 0.8587
Epoch 2/150
26/26 [==============================] - 0s 4ms/step - loss: 0.4845 - accuracy: 0.8415 - val_loss: 0.4403 - val_accuracy: 0.8587
Epoch 3/150
26/26 [==============================] - 0s 3ms/step - loss: 0.4410 - accuracy: 0.8415 - val_loss: 0.4140 - val_accuracy: 0.8587
Epoch 4/150
26/26 [==============================] - 0s 3ms/step - loss: 0.4271 - accuracy: 0.8415 - val_loss: 0.4075 - val_accuracy: 0.8587
Epoch 5/150
26/26 [==============================] - 0s 4ms/step - loss: 0.4206 - accuracy: 0.8415 - val_loss: 0.4046 - val_accuracy: 0.8587
Epoch 6/150
26/26 [==============================] - 0s 3ms/step - loss: 0.4164 - accuracy: 0.8415 - val_loss: 0.4028 - val_accuracy: 0.8587
Epoch 7/150
26/26 [==============================] - 0s 3ms/step - loss: 0.4125 - accuracy: 0.8415 - val_loss: 0.4022 - val_accuracy: 0.8587
Epoch 8/150
26/26 [==============================] - 0s 3ms/step - loss: 0.4090 - accuracy: 0.8415 - val_loss: 0.4004 - val_accuracy: 0.8587
Epoch 9/150
26/26 [==============================] - 0s 3ms/step - loss: 0.4065 - accuracy: 0.8415 - val_loss: 0.4005 - val_accuracy: 0.8587
Epoch 10/150
26/26 [==============================] - 0s 4ms/step - loss: 0.4039 - accuracy: 0.8415 - val_loss: 0.3989 - val_accuracy: 0.8587
Epoch 11/150
26/26 [==============================] - 0s 3ms/step - loss: 0.4025 - accuracy: 0.8415 - val_loss: 0.3980 - val_accuracy: 0.8587
Epoch 12/150
26/26 [==============================] - 0s 4ms/step - loss: 0.4013 - accuracy: 0.8427 - val_loss: 0.3991 - val_accuracy: 0.8587
Epoch 13/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3993 - accuracy: 0.8427 - val_loss: 0.3975 - val_accuracy: 0.8587
Epoch 14/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3978 - accuracy: 0.8427 - val_loss: 0.3979 - val_accuracy: 0.8587
Epoch 15/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3962 - accuracy: 0.8438 - val_loss: 0.3968 - val_accuracy: 0.8587
Epoch 16/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3956 - accuracy: 0.8427 - val_loss: 0.3967 - val_accuracy: 0.8587
Epoch 17/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3957 - accuracy: 0.8427 - val_loss: 0.3962 - val_accuracy: 0.8625
Epoch 18/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3942 - accuracy: 0.8450 - val_loss: 0.3967 - val_accuracy: 0.8625
Epoch 19/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3934 - accuracy: 0.8450 - val_loss: 0.3954 - val_accuracy: 0.8625
Epoch 20/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3925 - accuracy: 0.8438 - val_loss: 0.3957 - val_accuracy: 0.8625
Epoch 21/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3910 - accuracy: 0.8462 - val_loss: 0.3965 - val_accuracy: 0.8625
Epoch 22/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3905 - accuracy: 0.8438 - val_loss: 0.3953 - val_accuracy: 0.8625
Epoch 23/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3904 - accuracy: 0.8450 - val_loss: 0.3951 - val_accuracy: 0.8625
Epoch 24/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3915 - accuracy: 0.8438 - val_loss: 0.3962 - val_accuracy: 0.8625
Epoch 25/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3895 - accuracy: 0.8450 - val_loss: 0.3934 - val_accuracy: 0.8625
Epoch 26/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3884 - accuracy: 0.8438 - val_loss: 0.3948 - val_accuracy: 0.8625
Epoch 27/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3889 - accuracy: 0.8438 - val_loss: 0.3952 - val_accuracy: 0.8625
Epoch 28/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3874 - accuracy: 0.8438 - val_loss: 0.3947 - val_accuracy: 0.8625
Epoch 29/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3870 - accuracy: 0.8438 - val_loss: 0.3934 - val_accuracy: 0.8625
Epoch 30/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3864 - accuracy: 0.8438 - val_loss: 0.3944 - val_accuracy: 0.8625
Epoch 31/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3860 - accuracy: 0.8450 - val_loss: 0.3940 - val_accuracy: 0.8625
Epoch 32/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3854 - accuracy: 0.8450 - val_loss: 0.3945 - val_accuracy: 0.8625
Epoch 33/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3849 - accuracy: 0.8450 - val_loss: 0.3936 - val_accuracy: 0.8625
Epoch 34/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3845 - accuracy: 0.8450 - val_loss: 0.3935 - val_accuracy: 0.8625
Epoch 35/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3850 - accuracy: 0.8450 - val_loss: 0.3939 - val_accuracy: 0.8625
Epoch 36/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3851 - accuracy: 0.8462 - val_loss: 0.3944 - val_accuracy: 0.8625
Epoch 37/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3832 - accuracy: 0.8462 - val_loss: 0.3938 - val_accuracy: 0.8625
Epoch 38/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3831 - accuracy: 0.8450 - val_loss: 0.3935 - val_accuracy: 0.8625
Epoch 39/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3826 - accuracy: 0.8462 - val_loss: 0.3931 - val_accuracy: 0.8625
Epoch 40/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3826 - accuracy: 0.8462 - val_loss: 0.3942 - val_accuracy: 0.8625
Epoch 41/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3818 - accuracy: 0.8462 - val_loss: 0.3934 - val_accuracy: 0.8625
Epoch 42/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3813 - accuracy: 0.8462 - val_loss: 0.3947 - val_accuracy: 0.8625
Epoch 43/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3807 - accuracy: 0.8462 - val_loss: 0.3936 - val_accuracy: 0.8625
Epoch 44/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3802 - accuracy: 0.8462 - val_loss: 0.3941 - val_accuracy: 0.8625
Epoch 45/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3824 - accuracy: 0.8462 - val_loss: 0.3936 - val_accuracy: 0.8625
Epoch 46/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3794 - accuracy: 0.8462 - val_loss: 0.3937 - val_accuracy: 0.8625
Epoch 47/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3796 - accuracy: 0.8462 - val_loss: 0.3937 - val_accuracy: 0.8625
Epoch 48/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3793 - accuracy: 0.8462 - val_loss: 0.3941 - val_accuracy: 0.8625
Epoch 49/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3787 - accuracy: 0.8462 - val_loss: 0.3942 - val_accuracy: 0.8625
Epoch 50/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3782 - accuracy: 0.8462 - val_loss: 0.3934 - val_accuracy: 0.8625
Epoch 51/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3779 - accuracy: 0.8462 - val_loss: 0.3940 - val_accuracy: 0.8625
Epoch 52/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3785 - accuracy: 0.8462 - val_loss: 0.3933 - val_accuracy: 0.8625
Epoch 53/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3775 - accuracy: 0.8462 - val_loss: 0.3952 - val_accuracy: 0.8587
Epoch 54/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3769 - accuracy: 0.8462 - val_loss: 0.3941 - val_accuracy: 0.8625
Epoch 55/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3767 - accuracy: 0.8462 - val_loss: 0.3949 - val_accuracy: 0.8587
Epoch 56/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3759 - accuracy: 0.8462 - val_loss: 0.3941 - val_accuracy: 0.8625
Epoch 57/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3760 - accuracy: 0.8462 - val_loss: 0.3950 - val_accuracy: 0.8587
Epoch 58/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3755 - accuracy: 0.8462 - val_loss: 0.3952 - val_accuracy: 0.8587
Epoch 59/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3748 - accuracy: 0.8473 - val_loss: 0.3947 - val_accuracy: 0.8587
Epoch 60/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3745 - accuracy: 0.8473 - val_loss: 0.3946 - val_accuracy: 0.8587
Epoch 61/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3746 - accuracy: 0.8462 - val_loss: 0.3949 - val_accuracy: 0.8587
Epoch 62/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3740 - accuracy: 0.8473 - val_loss: 0.3948 - val_accuracy: 0.8587
Epoch 63/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3742 - accuracy: 0.8462 - val_loss: 0.3949 - val_accuracy: 0.8587
Epoch 64/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3752 - accuracy: 0.8462 - val_loss: 0.3943 - val_accuracy: 0.8625
Epoch 65/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3728 - accuracy: 0.8473 - val_loss: 0.3962 - val_accuracy: 0.8587
Epoch 66/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3730 - accuracy: 0.8473 - val_loss: 0.3947 - val_accuracy: 0.8587
Epoch 67/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3725 - accuracy: 0.8473 - val_loss: 0.3954 - val_accuracy: 0.8587
Epoch 68/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3722 - accuracy: 0.8473 - val_loss: 0.3956 - val_accuracy: 0.8587
Epoch 69/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3727 - accuracy: 0.8485 - val_loss: 0.3962 - val_accuracy: 0.8587
Epoch 70/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3723 - accuracy: 0.8473 - val_loss: 0.3960 - val_accuracy: 0.8587
Epoch 71/150
26/26 [==============================] - 0s 7ms/step - loss: 0.3716 - accuracy: 0.8473 - val_loss: 0.3962 - val_accuracy: 0.8587
Epoch 72/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3714 - accuracy: 0.8473 - val_loss: 0.3954 - val_accuracy: 0.8587
Epoch 73/150
26/26 [==============================] - 0s 7ms/step - loss: 0.3707 - accuracy: 0.8473 - val_loss: 0.3948 - val_accuracy: 0.8587
Epoch 74/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3716 - accuracy: 0.8485 - val_loss: 0.3965 - val_accuracy: 0.8587
Epoch 75/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3699 - accuracy: 0.8473 - val_loss: 0.3958 - val_accuracy: 0.8587
Epoch 76/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3702 - accuracy: 0.8473 - val_loss: 0.3965 - val_accuracy: 0.8587
Epoch 77/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3707 - accuracy: 0.8473 - val_loss: 0.3967 - val_accuracy: 0.8625
Epoch 78/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3698 - accuracy: 0.8473 - val_loss: 0.3973 - val_accuracy: 0.8625
Epoch 79/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3691 - accuracy: 0.8485 - val_loss: 0.3959 - val_accuracy: 0.8625
Epoch 80/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3688 - accuracy: 0.8473 - val_loss: 0.3961 - val_accuracy: 0.8587
Epoch 81/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3683 - accuracy: 0.8485 - val_loss: 0.3975 - val_accuracy: 0.8625
Epoch 82/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3681 - accuracy: 0.8485 - val_loss: 0.3973 - val_accuracy: 0.8625
Epoch 83/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3688 - accuracy: 0.8485 - val_loss: 0.3974 - val_accuracy: 0.8625
Epoch 84/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3688 - accuracy: 0.8473 - val_loss: 0.3978 - val_accuracy: 0.8625
Epoch 85/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3686 - accuracy: 0.8473 - val_loss: 0.3969 - val_accuracy: 0.8625
Epoch 86/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3686 - accuracy: 0.8485 - val_loss: 0.3990 - val_accuracy: 0.8625
Epoch 87/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3673 - accuracy: 0.8485 - val_loss: 0.3959 - val_accuracy: 0.8625
Epoch 88/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3671 - accuracy: 0.8497 - val_loss: 0.3977 - val_accuracy: 0.8625
Epoch 89/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3669 - accuracy: 0.8485 - val_loss: 0.3993 - val_accuracy: 0.8625
Epoch 90/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3663 - accuracy: 0.8485 - val_loss: 0.3975 - val_accuracy: 0.8625
Epoch 91/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3664 - accuracy: 0.8473 - val_loss: 0.3980 - val_accuracy: 0.8625
Epoch 92/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3658 - accuracy: 0.8497 - val_loss: 0.3985 - val_accuracy: 0.8625
Epoch 93/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3659 - accuracy: 0.8497 - val_loss: 0.3991 - val_accuracy: 0.8625
Epoch 94/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3652 - accuracy: 0.8497 - val_loss: 0.3988 - val_accuracy: 0.8625
Epoch 95/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3649 - accuracy: 0.8497 - val_loss: 0.3990 - val_accuracy: 0.8625
Epoch 96/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3647 - accuracy: 0.8485 - val_loss: 0.3982 - val_accuracy: 0.8625
Epoch 97/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3642 - accuracy: 0.8497 - val_loss: 0.3990 - val_accuracy: 0.8625
Epoch 98/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3644 - accuracy: 0.8497 - val_loss: 0.4003 - val_accuracy: 0.8625
Epoch 99/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3653 - accuracy: 0.8508 - val_loss: 0.3986 - val_accuracy: 0.8625
Epoch 100/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3641 - accuracy: 0.8508 - val_loss: 0.3996 - val_accuracy: 0.8625
Epoch 101/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3632 - accuracy: 0.8485 - val_loss: 0.4001 - val_accuracy: 0.8625
Epoch 102/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3631 - accuracy: 0.8508 - val_loss: 0.4000 - val_accuracy: 0.8625
Epoch 103/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3629 - accuracy: 0.8497 - val_loss: 0.3999 - val_accuracy: 0.8625
Epoch 104/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3631 - accuracy: 0.8508 - val_loss: 0.3999 - val_accuracy: 0.8625
Epoch 105/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3638 - accuracy: 0.8531 - val_loss: 0.4001 - val_accuracy: 0.8625
Epoch 106/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3626 - accuracy: 0.8497 - val_loss: 0.4012 - val_accuracy: 0.8625
Epoch 107/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3626 - accuracy: 0.8531 - val_loss: 0.3999 - val_accuracy: 0.8625
Epoch 108/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3619 - accuracy: 0.8497 - val_loss: 0.4019 - val_accuracy: 0.8625
Epoch 109/150
26/26 [==============================] - 0s 5ms/step - loss: 0.3617 - accuracy: 0.8497 - val_loss: 0.4013 - val_accuracy: 0.8625
Epoch 110/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3612 - accuracy: 0.8508 - val_loss: 0.4005 - val_accuracy: 0.8625
Epoch 111/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3606 - accuracy: 0.8520 - val_loss: 0.4012 - val_accuracy: 0.8625
Epoch 112/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3604 - accuracy: 0.8508 - val_loss: 0.4034 - val_accuracy: 0.8625
Epoch 113/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3608 - accuracy: 0.8508 - val_loss: 0.4009 - val_accuracy: 0.8625
Epoch 114/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3604 - accuracy: 0.8497 - val_loss: 0.4017 - val_accuracy: 0.8625
Epoch 115/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3598 - accuracy: 0.8531 - val_loss: 0.4010 - val_accuracy: 0.8625
Epoch 116/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3605 - accuracy: 0.8520 - val_loss: 0.4038 - val_accuracy: 0.8625
Epoch 117/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3601 - accuracy: 0.8508 - val_loss: 0.4022 - val_accuracy: 0.8625
Epoch 118/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3592 - accuracy: 0.8520 - val_loss: 0.4020 - val_accuracy: 0.8625
Epoch 119/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3592 - accuracy: 0.8520 - val_loss: 0.4024 - val_accuracy: 0.8625
Epoch 120/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3594 - accuracy: 0.8497 - val_loss: 0.4028 - val_accuracy: 0.8625
Epoch 121/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3590 - accuracy: 0.8508 - val_loss: 0.4029 - val_accuracy: 0.8625
Epoch 122/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3586 - accuracy: 0.8520 - val_loss: 0.4033 - val_accuracy: 0.8625
Epoch 123/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3582 - accuracy: 0.8508 - val_loss: 0.4037 - val_accuracy: 0.8625
Epoch 124/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3584 - accuracy: 0.8497 - val_loss: 0.4042 - val_accuracy: 0.8625
Epoch 125/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3581 - accuracy: 0.8508 - val_loss: 0.4038 - val_accuracy: 0.8625
Epoch 126/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3571 - accuracy: 0.8520 - val_loss: 0.4039 - val_accuracy: 0.8625
Epoch 127/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3587 - accuracy: 0.8520 - val_loss: 0.4057 - val_accuracy: 0.8625
Epoch 128/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3573 - accuracy: 0.8531 - val_loss: 0.4048 - val_accuracy: 0.8625
Epoch 129/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3576 - accuracy: 0.8531 - val_loss: 0.4051 - val_accuracy: 0.8625
Epoch 130/150
26/26 [==============================] - 0s 4ms/step - loss: 0.3572 - accuracy: 0.8520 - val_loss: 0.4048 - val_accuracy: 0.8625
Epoch 131/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3568 - accuracy: 0.8520 - val_loss: 0.4064 - val_accuracy: 0.8625
Epoch 132/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3566 - accuracy: 0.8520 - val_loss: 0.4044 - val_accuracy: 0.8625
Epoch 133/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3562 - accuracy: 0.8520 - val_loss: 0.4055 - val_accuracy: 0.8625
Epoch 134/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3558 - accuracy: 0.8520 - val_loss: 0.4061 - val_accuracy: 0.8625
Epoch 135/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3555 - accuracy: 0.8531 - val_loss: 0.4053 - val_accuracy: 0.8625
Epoch 136/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3577 - accuracy: 0.8508 - val_loss: 0.4065 - val_accuracy: 0.8662
Epoch 137/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3558 - accuracy: 0.8555 - val_loss: 0.4060 - val_accuracy: 0.8625
Epoch 138/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3552 - accuracy: 0.8520 - val_loss: 0.4044 - val_accuracy: 0.8625
Epoch 139/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3547 - accuracy: 0.8508 - val_loss: 0.4058 - val_accuracy: 0.8625
Epoch 140/150
26/26 [==============================] - 0s 3ms/step - loss: 0.3550 - accuracy: 0.8520 - val_loss: 0.4067 - val_accuracy: 0.8625
Epoch 141/150

In [67]:
y_pred = y_pred.reshape(1,-1)

In [68]:
y_pred

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0]])

In [69]:
#See the mean absolute erro
mae = model.evaluate(X_test, y_test)

print("MAE on test set:", mae)

9/9 [==============================] - 0s 3ms/step - loss: 0.4046 - accuracy: 0.8625
MAE on test set: [0.4046211540699005, 0.8624535202980042]

In [70]:
#dataset to validation
val = pd.read_csv('/content/test_metadata.csv')
val

       filename      age  sex body_site melanoma_history  resolution
0  qpbyhjj8.tif  [34:36[    2     trunc               NO    0.121399
1  8tn0wx0q.tif  [78:80[    1       arm               NO    0.250000

In [71]:
val = val.drop('filename', axis=1)

In [72]:
#preprocess this validation values
one_hot = pd.get_dummies(train['melanoma_history'])
one_hot

val['age_int'] = val['age'].str.extract(r'(\d+)').astype(int)
val['age'] = train['age_int']
val.drop('melanoma_history', axis=1, inplace=True)
val['melanoma_NO'] = one_hot['NO']
val['melanoma_YES'] = one_hot['YES']
val

   age  sex body_site  resolution  age_int  melanoma_NO  melanoma_YES
0   32    2     trunc    0.121399       34            0             1
1   46    1       arm    0.250000       78            1             0

In [73]:
encoded_bd = pd.DataFrame(one.fit_transform(val[['body_site']]).toarray())
categories = val['body_site'].unique()
encoded_bd.columns = categories

In [74]:
val['trunc'] = encoded_bd['trunc']
val['arm'] = encoded_bd['arm']
val = val.drop('body_site', axis=1)
val = val.drop('age', axis=1)

In [75]:
val = pd.DataFrame(scaler.fit_transform(val), columns=val.columns)
val

   sex  resolution  age_int  melanoma_NO  melanoma_YES  trunc  arm
0  1.0         0.0      0.0          0.0           1.0    0.0  1.0
1  0.0         1.0      1.0          1.0           0.0    1.0  0.0

In [76]:
bd_list = []
for i in bd.value_counts():
  bd_list.append(i)

In [77]:
#take the  body site column at train  dataset for put the names in validation dataset but this column add no have values
bd1 = bd.to_list()
bd1= list(set(bd1))

In [78]:
val.columns

Index(['sex', 'resolution', 'age_int', 'melanoma_NO', 'melanoma_YES', 'trunc',
       'arm'],
      dtype='object')

In [79]:
for i in bd1:
  if i not in val.columns:
    val[i] = 0

In [80]:
val.columns

Index(['sex', 'resolution', 'age_int', 'melanoma_NO', 'melanoma_YES', 'trunc',
       'arm', 'foot', 'scalp', 'seat', 'forearm', 'lower limb/hip', 'hand',
       'trunk', 'neck', 'thigh', 'head/neck', 'leg', 'toe', 'face',
       'upper limb/shoulder', 'finger', 'sole', 'hand/foot/nail', 'nail'],
      dtype='object')

In [81]:
y_pred_prob = model.predict(val)
y_pred = (y_pred_prob > 0.5).astype(int)

1/1 [==============================] - 0s 33ms/step

In [82]:
y_pred

array([[0],
       [0]])

In [83]:
val['relapse'] = y_pred

In [84]:
#This is the result
val

,sex,resolution,age_int,melanoma_NO,melanoma_YES,trunc,arm,foot,scalp,seat,...,head/neck,leg,toe,face,upper limb/shoulder,finger,sole,hand/foot/nail,nail,relapse
0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
#Thank you to see my code have a good day